
@{
    ViewBag.Title = "VerifyDetail";
}

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>VERIFIED ME</h2>
               
            </div>
        </div>
    </div>
</div>

<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-fluid" src="~/images/about-img.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">We are <span>GroceryShop</span></h2>
                <p style="font-size:20px;">
                    Our Grocery Store has partnered with 'IBM Food Trust'  Block Chain Technology , revealing everything you want to know about the product.
                    The Intelligent label attached to this food product can be scanned to provide trustworthy authentication and supply chain transparency.
                    Scan the label to know the history of the product from the farmer to the store , once you get it at the door step.
                    It is our pleasure to also see you at any of our physical stores where you can enjoy exploring these Organic History Printed products.

                </p>
                @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>*@
                <a class="btn hvr-hover" href="#">Read More</a>
            </div>
        </div>

    </div>
</div>

